{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.jsx",
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    }
  ]
}
